{% extends 'base.html' %}

{% load static %}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'plataforma/css/css.css' %}">
{% endblock %}

{% block 'body' %}
{% if messages %}
    <br>
    {% for message in messages %}
        <div class="alert {{message.tags}}">
        {{message}}
        </div>
    {% endfor %}
{% endif %}

<br>
<nav style="background-color: #2745dbc7; justify-content: space-around;" class="navbar navbar-expand-lg navbar-dark">
    <a style="font-weight: bold" class="navbar-brand" href="#">Inspeções AT</a>
    <div>

            <form action="{% url 'filtrar' %}" method="POST" style="width: 100%; display: flex;">{% csrf_token %}
                <span style="color: white; margin: 0 1rem; ">Ordem de Inspeção:</span>
                <input type="number" name="ordem">
                <!-- <span style="color: white; margin-left: 50px; ">Tipo de Inspeção:</span>
                    <select style=" margin-left: 5px; width: 200px;"  name="tipo_insp" class="form-control">
                        <option value="M1">M1</option>
                        <option value="M2">M2</option>
                <option value="TERMOGRAFICA">TERMOGRAFICA</option>
                <option value="CROMATOGRAFICA">CROMATOGRAFICA</option>
                <option value="FISICO-QUIMICA">FISICO-QUIMICA</option>
                <option value="LAVAGEM">LAVAGEM</option>
                <option value="LIMPEZA-DE-PATIO">LIMPEZA DE PATIO</option>
                <option value="CONTROLE">CONTROLE</option>
                <option value="MINUCIOSA">MINUCIOSA</option>
                <option value="LIMPEZA-DE-FAIXA">LIMPEZA DE FAIXA</option>
                <option value="RS1">RS1</option>
            </select>
            <span style="color: white; margin-left: 50px; ">Mês da Inspeção:</span>
            <select style=" margin-left: 5px; width: 100px;"  name="mes" class="form-control">
                <option value="1">JAN</option>
                <option value="2">FEV</option>
                <option value="3">MAR</option>
                <option value="4">ABR</option>
                <option value="5">MAI</option>
                <option value="6">JUN</option>
                <option value="7">JUL</option>
                <option value="8">AGO</option>
                <option value="9">SET</option>
                <option value="10">OUT</option>
                <option value="11">NOV</option>
                <option value="12">DEZ</option>
                
            </select> -->
            <input type="submit" style="border-radius: 30px; margin-left: 150px; width: 100px;" type="button" class="btn btn-success"></input>
        </form>
    </div>
    </nav>
    <div class="row">
        <div class="col-md-12">
            <br>
            
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="text-align: center;" scope="col">Ordem de Inspeção</th>
                        <th style="text-align: center;" scope="col">Nota de Inspeção</th>
                        <th style="text-align: center;" scope="col">Local da Instalação</th>
                        <th style="text-align: center;" scope="col">Tipo Insp</th>
                        <th style="text-align: center;" scope="col">Equipamento</th>
                        <th style="text-align: center;" scope="col">Status</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for insp in inspecao %}
                        <tr>
                        <th style="text-align: center;" scope="row">{{insp.ordem}}</th>
                        <td style="text-align: center;">{{insp.nota}}</td>
                        <td style="text-align: center;">{{insp.local_inst}}</td>
                        <td style="text-align: center;">{{insp.tipo_insp}}</td>

                        <!-- caso não tenha equipamento cadastrado colocar " - " -->
                        {% if insp.equipamento == None %}
                            <td style="text-align: center;">-</td>
                        {% else %}
                            <td style="text-align: center;">{{insp.equipamento}}</td>
                        {% endif %}

                        <!-- mudar a cor conforme status da inspeção -->
                        {% if insp.status == "PLANEJADA" %}
                            <td style="text-align: center; background-color: rgb(255, 238, 0);" >{{insp.status}}</td>
                        {% endif %}
                        {% if insp.status == "EXECUTADA" %}
                            <td style="text-align: center; background-color: rgb(0, 255, 72);" >{{insp.status}}</td>
                        {% endif %}
                        {% if insp.status == "PENDENTE" %}
                            <td style="text-align: center; background-color: rgb(255, 17, 0);" >{{insp.status}}</td>
                        {% endif %}
                        <td>
                            <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#modal">
                                Add Insp
                            </button>
                        </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>  


    {% endblock%}
